body{
	background-image: url(../images/bkg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Opensans, Helvetica, Arial, sans-serif; color: white;

}
 /* like this*/


 .main {
 	max-width: 500px;
 	background-color: rgba(0,0,0,0.5);
 	margin: 0 auto;
 	padding: 20px;
 	border-radius: 5px;
 	box-shadow: 0px 0px 5px 0px black;
 }
h1{
	font-family: 'Codystar', cursive;
	font-size: 40px;
	text-shadow: 0 0 30px black;
	text-align:center;
	margin-bottom: -10px;


}
h2{

	text-transform: uppercase;
	text-align:center;
	font-size: 20px;
	
}

p,
ul,
ol {
	line-height: 1.4;
	list-style: none;
	padding-left: 0;
}



img{
	margin: 0 auto;
	display: block;
	border: 10px dotted grey;
	width: 80px;
	border-radius: 100px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}
a:focus,
a:hover {
	text-decoration: underline;
	color:grey;
}